@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>
    This site does not track your personal information, and does not use cookies for 
    Google Analytics (unlike the upstream project).
</p>
<p>
    &lt;3
</p>
